#nav .container
{
  width: 98%;
  margin-left:1%;
  margin-right:0;
}

#jt
{
  padding-left: 20px;
}

.card
{
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
  padding-left:20px;
  height: 150px;
}

.card img
{
  padding-bottom: 10px;
}

.panel
{
  margin-bottom: 0px !important;
}

#drawing-canvas
{
  border: 1px solid;
}

.controls a
{
  margin-right: 10px;
}
